<%- include('partials/header.ejs') %>

        <h2>Items</h2>
            <div class="countainer">
                <% productList.forEach(function(product){  %>
                    <li>
                        <%=product.productName%></br>
                        <!--<td>  <a href='product/<%=product.productId%>'>Info</a> | <a href='/product/<%=product.productId%>/edit'>Edit</a> | <a href='/product/<%=product.productId%>/delete'>Delete</a>-->
                        <td> </td><a href='/product/<%=product.productId%>/edit'>Edit</a> | <a href='/product/<%=product.productId%>/delete'>Delete</a>
                        
                    </li>
                <% }) %>
            </div>
            
            
            <a class='btn btn-outline-primary' href='/addproductPage'> Add Product </a><br>
            <a class='btn btn-danger' href='/'> Logout </a>
            
            
            
    </body>
</html>
            