<!--Originally was able to view product info in Admin but got rid of the functionallity near the end-->
<%- include('partials/header.ejs') %>

<!--(productId, productName, productPicture, productDescription, productType, productPrice)-->
<div class='container'>
    <div class='jumbotron'>
        <h3> Product Info </h3>
        <!--<a class='btn btn-primary' href='/adminPage'>Back To Admin</a>-->
    </div>
    <div class='row'>
        <%if(!product){%>
            <h1 class='col-sm-12 nofound'>CANNOT FIND YOUR Product!!!</h1>    
        <%}
        else{%>
            <img class='col-sm-4 portrait' src=<%=product.productPicture%> />
            <div class='col-sm-4 info'>
             <h3><%=product.productName%><br>
             <div class='bio'>Description: <%=product.productDescription%></div><br>
             <div> Type: <%=product.productType%></div><br>
             <div> Price: <%=product.productPrice%></div><br><br><br>
             <a class='btn btn-primary' href='/adminPage'>Back To Admin</a>
            </div>
        <%}%>
    </div>
</div>
</body>
</html>